.firstImageContainer{
  width: 506.72px;
}

.dreamProjectThumb{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border-top: solid black 1px;
 }
 
 .dreamProjectThumb .description {
   display: flex;
   justify-content: center;
   width: 100%;
   min-width: 672px;
   overflow: hidden;
   margin-left: 20px;
   margin-right: 20px;
   text-align: right;
 }

 .dreamProjectThumb .left {
  display: flex;
  flex-direction: row;
  background: #d1d7cb;
  width: 100%;
  height: 75vh;
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid black 1px;
  z-index: 0;
 }

 .dreamProjectThumb .right {
  background: #444440;
  width: 100%;
  min-width: 600px;
  display: flex;
  justify-content: center;
  z-index: 1;
 }
