* {
  margin: 0;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }

.fade:hover {
     opacity: 0.5;
  }

.header {
  position: relative;
  z-index: 4;
}


.header a:link {
  color:#444440;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.header a:link:hover {
  color:white;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.header a:visited{
  color: #444440;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.header a:visited:hover{
  color: white;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.header h1 a {
  font-size: 1.2em;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #d1d7cb;
  border-bottom: black solid 2px;
}

.center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
}

.header h1 {
  display: flex;
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 0px;
  background: rgb(209, 215, 203);
  color: #444440;
  font-size: 1.5em;
}

.nav a {
  margin: 10px;
}

