html, body {
  height: 100%;
}

@keyframes typeWriter {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

body {
  overflow: hidden;
}

.index body {
  overflow: hidden;
  min-height: 500px;
  height: 100%;
  background: #d1d7cbCC;
}

.index .homeBody {
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-width: 450px;
  position: relative;
  bottom: 75px;
}

.index .imageContainer {
  height: 960px;
  min-width: 1000px;
}

.index .welcomeText {
  position: absolute;
  top: 150px;
  font-size: 3em;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 450px;
}


.index .bio {
  position: relative;
  top: 40px;
  animation-delay: 2.2s;
  background: #FFFFFF60;
  border-radius: 5px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Oswald', sans-serif;
}

.index .bio p{
  width: 1200px; 
  color: #000000
}

.index .typeWrite h1{
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: 
      typeWriter 2s steps(20, end),
      blinking .5s step-end infinite;
    color: white;
    width: 100%;
}

.index .typeWrite div{
    background: #00000060;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    min-width: 450px;
}

.index .imageNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 100%;
  max-height: 100px;
  height: 100px;
  background: #d1d7cb;
  bottom: 0px;
  transition: all 0.15s ease-in-out;
}

.index .workLink {
  animation-delay: 2.5s;
  position: absolute;
  top: 530px;
  width: 100%;
  font-size: 3em;
  text-align: center;
}

.index .workLink a{
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  transition: all 0.15s ease-in-out;
}

.index .workLink a:hover{
  color: #d1d7cbCC;
  font-size: 1.02em;
}

.index .resumeLink {
  width: 80px;
  z-index: 2;
}

.index .githubLink {
  width: 80px;
  z-index: 2;
}

.index .linkedinLink {
  width: 80px;
  z-index: 2;
}

.index .imageNav div:hover{
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
