@keyframes typeWriter {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }
  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.index body {
  overflow: hidden;
  background: #444440;
  min-height: 500px;

}

.index .homeBody {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.index .welcomeText {
  position: absolute;
  top: 200px;
  font-size: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.index .bio {
  animation-delay: 2.2s;
  background: white;
}

.index .typeWrite h1{
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: 
      typeWriter 2s steps(20, end),
      blinking .5s step-end infinite;
    color: white;
}

.index .typeWrite div{
    background: #000000BB;
    padding: 10px;
    border-radius: 5px;
}

.index .imageNav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: #d1d7cb;
  bottom: 0px;
  padding: 10px;
}

.index .workLink {
  animation-delay: 2.5s;
  position: absolute;
  top: 500px;
  width: 100%;
  font-size: 3em;
  background: red;
  text-align: center;
}

.index .resumeLink {
  width: 80px;
  z-index: 2;
}

.index .githubLink {
  width: 80px;
  z-index: 2;
}

.index .linkedinLink {
  width: 80px;
  z-index: 2;
}