.animated {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration:0.5s;
  transition-duration: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

h2:hover{
  color: white;
}

@-webkit-keyframes fadeInLeft {
  0% {
     opacity: 0;
     -webkit-transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
     opacity: 0;
     transform: translateX(-20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.firstImageContainer{
  width: 506.72px;
  transition: color 0.15s ease-in-out;
}

.firstImageContainer :hover{
  transition-duration: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;

  transform: scale(1.01);
}

.unwastedProjectThumb{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }
 
 .unwastedProjectThumb .description {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   position: absolute;
   width: 40%;
   height: 35%;
   max-height: 35%;
   min-width: 40%;
   margin-left: 20px;
   margin-right: 20px;
 }

 .unwastedProjectThumb .description h2{
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
 }

 .unwastedProjectThumb .right {
  display: flex;
  flex: 50%;
  flex-direction: row;
  background: #d1d7cb;
  min-height: 355px;
  min-width: 50%;
  justify-content: center;
  align-items: center;
  border-left: solid black 1px;
  z-index: 1;
 }

 .unwastedProjectThumb .left {
  background: #444440;
  display: flex;
  flex: 50%;
  min-width: 50%;
  min-height: 30%;
  position: relative;
  bottom: 15px;
  justify-content: center;
  z-index: 0;
 }